@media (max-width: 600px) {
  

  .section-title {
    padding-bottom: 0;
  }

  header {
    padding-top: 11px;
    padding-bottom: 9px;
  }

  .header-logo {
    padding-bottom: 20px;
    text-align: center;
  }

  .header-logo img {
    padding-left: 25px;
    padding-top: 44px;
  }

  .header-nav li {
    padding-left: 71px;
  }

  .header-nav {
    margin-left: 0;
  }

  .header-left {
    
  }

  .about {
    padding-bottom: 0;
  }

  .about-img {
    width: 60%;
  }

  .about-img img {
    padding-left: 123px;
    padding-top: 87px;
    width: 68%;
  }

  .about-text {
padding-top: 119px;
padding-left: 0;
font-size: 15px;
padding-right: 30px;
  }

  .works-container {
padding-bottom: 45px;
  }

  .work-box {
   padding-left: 91px;
  }
}