@media (max-width: 414px) {
/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上に */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
 .drawer-open span:before {
  bottom: 8px;
 }

/* 三本線のうち一番下の棒の位置調整 */
 .drawer-open span:after {
  top: 8px;
 } 

/* アイコンがクリックされたら真ん中の線を透明にする */
 #drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
 }

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
 }

  #drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
 }

/* メニューのデザイン*/
 .drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #fff;
  transition: .5s;
}

/* アイコンがクリックされたらメニューを表示 */
  #drawer-check:checked ~ .drawer-content {
  left: 0;/* メニューを画面に入れる */
}

.drawer-open {
  padding-left: 0px;
  padding-right: 11px;
}

.drawer-item {
  padding-top: 33px;
}

  .section-title {
    padding-bottom: 0;
  }

  .drawer-list {
    display: block;
    padding-top: 146px;
    padding-left: 151px;
  }

  .drawer-list a {
    color: red;
  }

  header {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .header-logo {
    padding-bottom: 20px;
    text-align: center;
  }

  .header-logo img {
    padding-left: 25px;
    padding-top: 14px;
  }

  .header-nav li {
    padding-left: 46px;
  }

  .header-nav {
    margin-left: 0;
  }

  .header-right {
    padding-top: 48px;
  }

  .about {
    padding-bottom: 0;
  }

  .about-img {
    width: 72%;
  }

  .about-img img {
    padding-left: 116px;
    width: 66%;
  }

  .about-text {
    padding-top: 0px;
    padding-left: 43px;
    font-size: 15px;
  }

  .sns {
    display: block;
  }

  .works-container {
    padding-bottom: 45px;
  }

  .work-box {
   padding-left: 2px;
  }

  .works {
    padding-bottom: 63px;
    padding-top: 70px;
  }

  footer {
    padding-top: 22px;
    padding-bottom: 30px;
  }

  .footer-list-item {
    font-size: 12px;
    padding-right: 28px;
    padding-left: 23px;
  }

  .footer-list-item:last-child {
    padding-right: 0;
  }

  div {
    overflow: hidden;
  }
}