a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

body {
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  font-family: "メイリオ";
  text-align: center;
  padding-bottom: 65px;
}

header {
  padding-top: 124px;
  padding-bottom: 122px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header-left {
  display: flex;
}

.header-logo img {
  width: 120px;
  padding-left: 40px;
}

.header-nav {
  display: flex;
  margin-left: 384px;
  line-height: 38px;
}

.header-nav li {
  padding-left: 60px;
}

.header-nav a {
  color: #000;
}

main {
  padding-bottom: 80px;
}
#main-img {
  background-image: url(./img/roses-828945_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 420px;
}

.sns {
  display: flex;
}

.about {
  padding-bottom: 100px;
}

.about-img img {
 width: 300px;
 padding-left: 139px;
 padding-top: 44px;
}

.about-text {
  padding-left: 30px;
  padding-top: 108px;
  font-size: 19px;
}

.works-container {
  padding-bottom: 173px;
}


.works {
  padding-top: 100px;
  padding-bottom: 250px;
}

.work-list-item img {
  width: 264px;
  
}

.work-list-item {
  display: inline-block;
  padding-bottom: 30px;
  padding-right: 74px;
  box-shadow: 0 0 7px rgb(191, 243, 4);
  margin-bottom: 20px;
  margin-right: 3px;
}

.work-list-item:nth-child(3n) {
  padding-right: 0;
}


.work-box {
  display: flex;
  text-align: center;
}

footer {
  background-color: rgb(255, 0, 13);
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-list-item {
  padding-right: 20px;
}

.twitter-icon {
  padding-top: 2px;
  margin-left: 20px;
  color: blue;
}

.color {
  color: rgb(107, 122, 122);
}

@media screen and (max-width: 414px) {
  body{
    background-color: aqua;
}

img {
  width: 100%;
}

  .section-title {
    padding-bottom: 0;
  }

.header {
  padding-bottom: 60px;
}

.header-logo {
  padding-bottom: 35px;
}

.header-left {
  display: block;
}


  .header-nav {
    margin-left: 0;
    padding-left: 65px;
  }

  .header-nav li {
    padding-left: 60px;
  }

  #main-img {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 294px;
  }
  


  .about-text {
   font-size: 10px;
   padding-top: 0;
   word-break: normal;
   padding-left: 28px;
  }

  .about {
    padding-bottom: 0;
  }

  .about-img {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
  }

  .about-img img {
    padding-left: 62px;
  }

  .sns {
    display: block;
  }

.works-container {
  padding-bottom: 64px;
}

.work-list-item {
  padding-bottom: 0;
  padding-right: 0;
  margin-right: 0;
  margin-bottom: 24px;
  width: 85%;
}



.work-list-item img {
  width: 85%;
}

.footer-list {
  padding-left: 24px;
}

footer {
  width: 100%;
}
}