a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

body {
}

.section-title {
  font-size: 42px;
  font-weight: bold;
  font-family: "メイリオ";
  text-align: center;
  padding-bottom: 65px;
}

#drawer-check {
  display: none;
}

.drawer-list {
  display: flex;
}



.header-logo {
  margin-right: auto;
}

.drawer-item {
  padding-left: 30px;
}

header {
  padding-top: 124px;
  padding-bottom: 122px;
}

.container {
  max-width: 836px;
  margin: 0 auto;
}

.header-left {
  display: flex;
}

.header-logo img {
  width: 120px;
  padding-left: 40px;
}

.header-nav {
  display: flex;
  margin-left: 384px;
  line-height: 38px;
}

.header-nav li {
  padding-left: 60px;
}

.header-nav a {
  color: #000;
}

main {
  padding-bottom: 80px;
}
#main-img {
  background-image: url(./img/roses-828945_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 0px;
  padding-top: 42.66667%;
}

.sns {
  display: flex;
}

.about {
  padding-bottom: 0px;
}

.about-img img {
 width: 300px;
 padding-left: 70px;
 padding-top: 44px;
}

.about-text {
  padding-left: 15px;
  padding-top: 108px;
  font-size: 19px;
}

.works-container {
  padding-bottom: 173px;
}


.works {
  padding-top: 100px;
  padding-bottom: 250px;
}

.work-list-item img {
  width: 400px;
  
}

.work-list-item {
  display: inline-block;
  box-shadow: 0 0 7px rgb(191, 243, 4);
  margin-bottom: 15px;
  margin-right: 15px;
}

.work-list-item:nth-child(3n) {
  padding-right: 0;
}


.work-box {
  
  
}

footer {
  background-color: rgb(255, 0, 13);
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-list-item {
  padding-right: 54px;
  font-size: 28px;
  padding-left: 54px;
}

.twitter-icon {
  padding-top: 2px;
  margin-left: 20px;
  color: blue;
}

.color {
  color: rgb(107, 122, 122);
}

