.sp { display: none !important; }


a {
  list-style: none;
  text-decoration: none;
}
li {
  list-style: none;
  text-decoration: none;
}
.color-inner {
  /*border-left: 1px solid #000;
  border-right: 1px solid #000;*/
}
.height-color-inner {
  /*border-top: 1px solid #000;
  border-bottom: 1px solid #000;*/
}
.header-logo-box {
  width: 100%;
  height: 150px;
  background-image: url(./imges/splotches-of-color-2115992_1280.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-logo {
  font-size: 7.45vw;
  font-family: 'arial black';
  padding-left: 130px;
  padding-top: 30px;
  color: rgb(253, 237, 8);
  display: inline-block;
}
header {
  max-width: 1280px;
  margin: 0 auto;
}
.header-inner {
  margin: 0 auto;
}
.nav-items {
  display: flex;
  text-align: center;
}
.header-nav {
  
}
.nav-item {
line-height: 100px;
margin: 0 auto;

}
.nav-item:first-child {
  padding-left: 23px;
}

.concept {
  max-width: 1280px;
  margin: 0 auto;
}
.concept-inner {
  max-width: 74%;
  margin: 0 auto;
}
.section-title {
  font-size: 40px;
  padding-bottom: 67px;
  padding-top: 100px;
  text-align: center;
}

.concept-text {
  font-size: 24px;
  line-height: 205%;
  padding-bottom: 90px;
}


.card-item {
  flex-direction: row-reverse;
  padding-left: 2%;
}
.coding {
  max-width: 1280px;
  margin: 0 auto;
  height: 624px;
  background-image: url(./see-gc37a1d972_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.coding-text {
  width: 1100px;
  margin: 0 auto;
  font-size: 2.23vw;
  line-height: 1.2;
  width: 92%;
}
.coding-text-text {
  text-align: center;
  padding-top: 51px;
  font-size: 3.23vw;
}
.skill {
  max-width: 1280px;
  margin: 0 auto;
  height: 624px;
}
.skill-inner {
  margin: 0 auto;
 /*text-align: center;*/
}
.skill-items {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.skill-item {
 width: 26%;
 text-align: center;
 padding-left: 40px;
}
.skill-item img {
 width: 100px;
 margin: 0 auto;
 padding-bottom: 36px;
}
.skill-title {
  font-size: 34px;
  padding-bottom: 27px;
}
.skill-text {
  font-size: 2.34vw;
  line-height: 1.5;
}


.contact-img {
  display: block;
 width: 80px;
 text-align: right;
 margin-top: 30px;
}

.footer {
  background-image: url(./imges/splotches-of-color-2115992_1280.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(-1);
  max-width: 1280px;
  height: 150px;
  margin: 0 auto;
}
.about-table{
  border-collapse: collapse;
  width: 100%;
}
th,
td{
  padding: 10px;
  border: solid 1px red;
  text-align:center;
  box-sizing:border-box;
}
th {
  color: #5653e9;
  background-color: #d79ff8;
}
.about-img {
  width: 4.45vw;
}





@media screen and (max-width: 600px) {
  .sp { display: block !important; }
  
  .header-logo-box {
    width: 100%;
    height: 115px;
  }
  .header-logo {
    color: #000;
    padding-left: 0;
    padding-top: 0;
    font-size: 10.45vw;
  }
  .section-title {
    font-size: 33px;
  }
  .concept-text {
    font-size: 2.78vw;
  }
  .coding-text {
    font-size: 3.28vw;
    padding-left: 12px;
  }
  .skill {
    height: 500px;
  }
  .skill-item img {
    width: 85%;
  }
  .skill-item {
    padding-left: 24px;
  }
  .skill-text {
    font-size: 2.78vw;
    z-index: 1;
  }
  .skill-title {
    font-size: 4.45vw;
  }
  .footer {
    width: 100%;
    height: 79px;
  }
  .coding-text-text {
    padding-right: 0%;
    font-size: 3.28vw;
  }
  .section-title {
    padding-top: 80px;
    padding-bottom: 27px;
    font-size: 6.45vw;
  }
  
  .tb0.about-table {
    width: 100%;
  }
  th,
  td {
    display: block;
    width: 100%;
    border-bottom:none;
  }
  th {
    color: #000;
  }
  .about-table1 tr:last-child{
    border-bottom: solid 1px red;
  }
}
